footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25221c;
  height: 50px;
  margin-top: 30px;
  padding: 3px;
}
footer p{
  font-size: 20px;
  color: white;
  background-color: #25221c;
}
footer a{
  background-color: #25221c;
  text-decoration: none;
  color: white;
  &:hover{
    font-size: 20px;
    color: #F2EEDA;
  }
}
